<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMS</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="bg-base-200">
    <!-- ส่วน navbar -->
    <body class="bg-black">
      <!-- ส่วน navbar -->
      <div class="navbar bg-gray-950 text-neutral-50">
          <div class="flex-1">
              <a class="btn btn-ghost text-xl" href="/views/home.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6 text-warning">
                  <path fill-rule="evenodd" d="M4.784 3A2.25 2.25 0 0 0 2.68 4.449L1.147 8.475A2.25 2.25 0 0 0 1 9.276v1.474A2.25 2.25 0 0 0 3.25 13h9.5A2.25 2.25 0 0 0 15 10.75V9.276c0-.274-.05-.545-.147-.801l-1.534-4.026A2.25 2.25 0 0 0 11.216 3H4.784Zm-.701 1.983a.75.75 0 0 1 .7-.483h6.433a.75.75 0 0 1 .701.483L13.447 9h-2.412a1 1 0 0 0-.832.445l-.406.61a1 1 0 0 1-.832.445h-1.93a1 1 0 0 1-.832-.445l-.406-.61A1 1 0 0 0 4.965 9H2.553l1.53-4.017Z" clip-rule="evenodd" />
                </svg>
                SMSTHAI24.com</a>
          </div>
          <div class="flex-none">
              <ul class="menu menu-horizontal px-1 ">
                  <li><a href="/views/topup.html">เติมเครดิต</a></li>
                  <li>
                      <a
                          href="/views/dashboard.html">dashboard</a>
                  </li>
                  <li>
                      <button class="btn btn-outline btn-info btn-sm">เครดิต
                          </button>
                  </li>
                  <li>
                      <a href="/views/register.html">สมัครสมาชิก</a>
                  </li>
              </ul>
          </div>
      </div>


    <!-- layout head -->
    <div class="flex h-full min-h-screen">
        <!-- sidebar -->
        <aside class="sm:w-1/5 lg:w-1/7 p-4 h-full">
            <!-- menu -->
            <ul class="menu bg-base-200 w-full rounded-lg sm:w-56 lg:w-64">
                <li><a href="/views/dashboard.html">
                        <i class="fa-solid fa-chart-simple text-2xl"></i>
                        แดชบอร์ด</a></li>
                <li>
                    <details>
                        <summary>
                            <i class="fa-solid fa-comment-sms text-2xl"></i>
                            SMS
                        </summary>
                        <ul>
                            <li><a href="/views/send-sms.html">ส่ง SMS</a></li>
                            <li><a href="/views/report-user.html">รายงาน</a></li>
                        </ul>
                    </details>
                </li>
                <li><a href="/views/topup.html"><i class="fa-regular fa-credit-card text-2xl"></i>เติมเครดิต</a></li>
                <li><a href="/views/report-user.html"><i class="fa-solid fa-bell text-2xl"></i>รายการแจ้งเติมเครดิต</a></li>
                <li><a href="/views/member-list.html"><i class="fa-solid fa-users text-2xl"></i>สมาชิก</a></li>
                <li><a href="/views/report-admin.html"><i class="fa-solid fa-list text-2xl"></i>รายงานส่ง SMS</a></li>
                <li><a href="https://lin.ee/YEJW88v"><i class="fa-solid fa-envelope text-2xl"></i>ติดต่อแอดมิน</a></li>
                <li><a href="/views/index.html"><i class="fa-solid fa-right-from-bracket text-2xl"></i>ออกจากระบบ</a></li>
            </ul>
        </aside>

        <!-- main content -->
        <main class="flex-1 p-4 h-full">
            <!-- dashboard -->
            <h2 class="text-xl font-semibold mb-4">Dashboard</h2>
            <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="1201" height="507" style="display: block; width: 1201px; height: 507px;"></canvas>
            <h2>Section title</h2>
            <div class="table-responsive">
                <table class="table table-striped table-sm">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Header</th>
                      <th>Header</th>
                      <th>Header</th>
                      <th>Header</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1,001</td>
                      <td>random</td>
                      <td>data</td>
                      <td>placeholder</td>
                      <td>text</td>
                    </tr>
                    <tr>
                      <td>1,002</td>
                      <td>placeholder</td>
                      <td>irrelevant</td>
                      <td>visual</td>
                      <td>layout</td>
                    </tr>
                    <tr>
                      <td>1,003</td>
                      <td>data</td>
                      <td>rich</td>
                      <td>dashboard</td>
                      <td>tabular</td>
                    </tr>
                    <tr>
                      <td>1,003</td>
                      <td>information</td>
                      <td>placeholder</td>
                      <td>illustrative</td>
                      <td>data</td>
                    </tr>
                    <tr>
                      <td>1,004</td>
                      <td>text</td>
                      <td>random</td>
                      <td>layout</td>
                      <td>dashboard</td>
                    </tr>
                    <tr>
                      <td>1,005</td>
                      <td>dashboard</td>
                      <td>irrelevant</td>
                      <td>text</td>
                      <td>placeholder</td>
                    </tr>
                    <tr>
                      <td>1,006</td>
                      <td>dashboard</td>
                      <td>illustrative</td>
                      <td>rich</td>
                      <td>data</td>
                    </tr>
                    <tr>
                      <td>1,007</td>
                      <td>placeholder</td>
                      <td>tabular</td>
                      <td>information</td>
                      <td>irrelevant</td>
                    </tr>
                    <tr>
                      <td>1,008</td>
                      <td>random</td>
                      <td>data</td>
                      <td>placeholder</td>
                      <td>text</td>
                    </tr>
                    <tr>
                      <td>1,009</td>
                      <td>placeholder</td>
                      <td>irrelevant</td>
                      <td>visual</td>
                      <td>layout</td>
                    </tr>
                    <tr>
                      <td>1,010</td>
                      <td>data</td>
                      <td>rich</td>
                      <td>dashboard</td>
                      <td>tabular</td>
                    </tr>
                    <tr>
                      <td>1,011</td>
                      <td>information</td>
                      <td>placeholder</td>
                      <td>illustrative</td>
                      <td>data</td>
                    </tr>
                    <tr>
                      <td>1,012</td>
                      <td>text</td>
                      <td>placeholder</td>
                      <td>layout</td>
                      <td>dashboard</td>
                    </tr>
                    <tr>
                      <td>1,013</td>
                      <td>dashboard</td>
                      <td>irrelevant</td>
                      <td>text</td>
                      <td>visual</td>
                    </tr>
                    <tr>
                      <td>1,014</td>
                      <td>dashboard</td>
                      <td>illustrative</td>
                      <td>rich</td>
                      <td>data</td>
                    </tr>
                    <tr>
                      <td>1,015</td>
                      <td>random</td>
                      <td>tabular</td>
                      <td>information</td>
                      <td>text</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            <!-- layout footer -->
        </main>
    </div>

    <!-- ส่วน footer -->
    <footer class="bg-gray-50"></footer>
    
</body>
</html>