<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SMS</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/css/app.css">
</head>
<body class="bg-gray-50">
    <!-- ส่วน navbar -->
    <body class="bg-black">
        <!-- ส่วน navbar -->
        <div class="navbar bg-gray-950 text-neutral-50">
            <div class="flex-1">
                <a class="btn btn-ghost text-xl" href="/views/home.html"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-6 h-6 text-warning">
                    <path fill-rule="evenodd" d="M4.784 3A2.25 2.25 0 0 0 2.68 4.449L1.147 8.475A2.25 2.25 0 0 0 1 9.276v1.474A2.25 2.25 0 0 0 3.25 13h9.5A2.25 2.25 0 0 0 15 10.75V9.276c0-.274-.05-.545-.147-.801l-1.534-4.026A2.25 2.25 0 0 0 11.216 3H4.784Zm-.701 1.983a.75.75 0 0 1 .7-.483h6.433a.75.75 0 0 1 .701.483L13.447 9h-2.412a1 1 0 0 0-.832.445l-.406.61a1 1 0 0 1-.832.445h-1.93a1 1 0 0 1-.832-.445l-.406-.61A1 1 0 0 0 4.965 9H2.553l1.53-4.017Z" clip-rule="evenodd" />
                  </svg>
                  SMSTHAI24.com</a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1 ">
                    <li><a href="/views/topup.html">เติมเครดิต</a></li>
                    <li>
                        <a
                            href="/views/dashboard.html">dashboard</a>
                    </li>
                    <li>
                        <button class="btn btn-outline btn-info btn-sm">เครดิต
                            </button>
                    </li>
                    <li>
                        <a href="/views/register.html">สมัครสมาชิก</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- ส่วน topup -->
        <div class="min-h-screen flex-col justify-center py-36 sm:px-6 lg:px-60 px-6" style="
        background: url(https://spinrank.vueapp.shop//app/component/view/member_info/img/style_4_bg.png) center bottom / cover no-repeat, linear-gradient(73deg, rgb(255, 209, 23) 0%, rgb(255, 209, 23) 100%);">
        <div class="border border-gray-700 bg-gray-800 rounded-2xl shadow-2xl px-10 py-16 pb-32">
            <div class="sm:mx-auto sm:w-full sm:max-w-md">
                <img class="mx-auto h-10 w-auto" src="https://www.svgrepo.com/show/301692/login.svg" alt="Workflow">
                <h2 class="mt-6 text-center text-3xl leading-9 font-extrabold text-neutral-50">
                    เติมเครดิต
                </h2>
            </div>
        
        
            <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
                <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
                    <form method="post" enctype="multipart/form-data">
                        <div>
                            <label for="price" class="block text-sm font-medium leading-5  text-gray-700">จำนวนเงิน</label>
                            <div class="mt-1 relative rounded-md shadow-sm">
                                <input id="price" name="price" placeholder="" type="number" required="" value=""
                                    class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 transition duration-150 ease-in-out sm:text-sm sm:leading-5">
                                <div class="hidden absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
                                    <svg class="h-5 w-5 text-red-500" fill="currentColor" viewBox="0 0 20 20">
                                        <path fill-rule="evenodd"
                                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z"
                                            clip-rule="evenodd">
                                        </path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div class="mt-5">
                            <label for="slip" class="block text-sm font-medium leading-5  text-gray-700">รูปสลีป</label>
                            <input type="file" name="slip" class="file-input w-full max-w-xs file-input-md " />
                        </div>
                        <div class="mt-6">
                            <span class="block w-full rounded-md shadow-sm">
                                <button type="submit"
                                    class="w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-blue-600 hover:bg-blue-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                                    แจ้งเติมเครดิต
                                </button>
                            </span>
                        </div>
                    </form>
        
                </div>
            </div>
        </div>
    </div>
        
    </div>
</body>
</html>